<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>photos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E1E0EF11DC6B90300ADF884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E1E0F051DC6B90400ADF884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E1E0F101DC6B90400ADF884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
